<div class="container-search">
<% Entry.all.each do |entry| %>
  <div class="card-bike">
    <div class="bike-image">
      <%= image_tag(entry.picture,  alt: "picbike", class: "bike-img") %>
    </div>
    <div class="bike-title">
      <%= entry.title %>
    </div>
    <div class="bike-link">
      <%= entry.link %>
    </div>
  </div>
<% end %>

</div>
