<div class="container-search">
<% Entry.all.each do |entry| %>
  <div class="card-bike">
    <div class="bike-image">
      <div class="bike-title">
        <%= entry.title %>
      </div>
      <% if entry.picture != nil %>
        <%= image_tag(entry.picture,  alt: "picbike", class: "bike-img") %>
      <% end %>
    </div>
    <div class="bike-content">
      <div class="bike-desc">
        <h3>Description :</h3>
        <p>Some text</p>
      </div>
      <%= link_to entry.link do %>
        <div class="bike-btn">
          <p>go</p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

</div>
