<div class="search-form">
  <%= form_tag entries_path, method: :get do %>
    <%= text_field_tag :size,
      params[:size],
      class: "form-control",
      placeholder: "Rentrez ici la taille du vélo"
      %>
    <%=   %>
  <% end %>
</div>


